* {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
}

body, main {
    margin: 0;
    background: #ffffff;
}

.Chat {
	display: flex;
	flex-direction: column;
}

.section {
	line-height: 1.6em;
	font-weight: 500;
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: #E1E1E1;
}

.column-container {
	flex: 1;
	display: flex;
}


.nav-panel {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 300px;
	width: 16%;

	overflow-y: scroll;
}

.chat-selectors {
	display: flex;
}

.chat-selector-button {
	width: 50%;
	border: none;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.25em;
	color: #C4C4C4;
	padding: 8px;
}
.chat-selector-button.deactivated:hover {
	cursor: not-allowed;
}

.chat-selector-button:hover {
	cursor: pointer;
}

.active-button {
	background-color: #F1F1F1;
}

.h3-rooms {
	font-weight: 400;
	padding: 8px;
}

.chats {
	margin: 16px;
}