swagger: "2.0"
info:
    title: ChatApp API
    description: Microservice API for the ChatApp
    version: 1.0.1
    
host: chatapp-api-019pqv3h707k8.apigateway.chatapp-development-349608.cloud.goog
schemes:
    - https
paths:
  /:
    get:
      summary: Login page
      operationId: home
      x-google-backend:
        address: https://frontend-dot-chatapp-development-349608.ts.r.appspot.com/
      responses:
        200:
          description: Success.
          schema:
            type: file
  /chat:
    get:
      summary: Chat page
      operationId: chat
      x-google-backend:
        address: https://frontend-dot-chatapp-development-349608.ts.r.appspot.com/chat
      responses:
        200:
          description: Success.
          schema:
            type: file
        401:
          description: Unauthenticated. Please login.
  /login:
    post:
      summary: Send an authentication request to login the specified user using the provided email and password.
      operationId: login
      x-google-backend:
        address: https://account-dot-chatapp-development-349608.ts.r.appspot.com/login
      consumes:
      - application/json
      parameters:
        - in: body
          name: user-credentials
          description: The user attempting to login.
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        200:
          description: Success.
          schema:
            type: object
            properties:
              jwt:
                type: string
        401:
          description: The provided username was not found.
        403:
          description: The password provided was incorrect.
        default:
          description: Unexpected error.
  /register:
    post:
      summary: Creates a new user account with the provided username, email, and and password.
      operationId: register
      x-google-backend:
        address: https://account-dot-chatapp-development-349608.ts.r.appspot.com/register
      consumes:
      - application/json
      parameters:
        - in: body
          name: user-details
          description: The details of the user account being created.
          schema:
            type: object
            required:
              - username
              - email
              - password
            properties:
              username:
                type: string
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        200:
          description: Success.
          schema:
            type: object
            properties:
              jwt:
                type: string
        400:
          description: The provided password does not meet the minimum criteria.
        409:
          description: The provided username/email is in use.
        default:
          description: Unexpected error.