@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  width: 100%;
  flex: 1;
}

.message-size {
  max-width: 400px;
  min-width: fit-content;
}

.min-profile-button-size {
  min-width: 48px;
  min-height: 48px;
}

.w-168 {
  width: 42rem;
}

/**
  * Loading Placeholder component
  *
  */
.loading {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
}

.loading-text {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}

.loader {
  position: absolute;
  display: flex;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #8686868f;
  align-items: center;
}

.loader-content {
  width: 100%;
  text-align: center;
}