
.container {
	padding: 1px;
}

.room-button {
	text-align: left;

	font: Inter;
	font-size: 16px;

	border: none;
	border-radius: 4px;

	width: 100%;
	padding: 8px 8px 8px 20px;
	
	background-color: #E1E1E1;
}

.room-button.active {
	background-color: #EAEAEA;
}

.room-button:hover {
	cursor: pointer;
	background-color: #D0D0D7;
}