.message-container {
	display: flex;
	height: fit-content;
	min-height: 40px;
	width: 100%;
	margin: 4px auto;
}

.pfp-button {
	height: 100%;
	display: flex;
	align-items: baseline;
	background-color: transparent;
	border: none;
	padding: 0 8px;
}

.pfp-button:hover {
	cursor: pointer;
}

.pfp {
	border-radius: 24px;
	overflow: hidden;
	height: 36px;
	width: 36px;
	object-fit: cover;
}

.message {
	background-color: #A8C7A9;
	border-radius: 12px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	max-width: 600px;
}

.message-container.right {
	padding-right: 16px;
	flex-direction: row-reverse;
}

.message.blue {
	background-color: #6a9e6b;
}