
.Login {
	height: 100%;
}

/* Login page */
.login-container {
	display: grid;
	grid-template-columns: 1fr;
    min-height: 100vh;
	line-height: 1.6em;
	font-weight: 500;
}

.login-right-area {
	background:linear-gradient(to right,#249a44,#34e062);
	border-left: 1px solid black;
}

.login-left-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-bg {
	width: 18rem;
	height: 18rem;
}

.login-right-area {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.login-form-container {
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #04AA6D;
	padding: 2em 4em;
	margin-left: 1.2em;
	margin-right: 1.2em;
	border-radius: 12px 40px 30px;
	border: 2px solid rgb(30, 97, 9);
}

.login-right-area 
input[type="text"],
input[type="email"],
input[type="password"] {
	font-size: 0.9em;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 0.6em;
	outline: none;
	border: 0.5px solid #c4c4c4;
	border-radius: 4px;
}

.login-right-area a {
	color: #dcdcdc;
}
.login-right-area a:hover {
	color:  darkgrey;
}

.login-right-area h2 {
	font-size: 1.7em;
	margin-bottom: 0.2em;
}

.loginBtn {
	display: block;
	margin: 0 auto;
	color: white;
	background-color: darkgreen;
	padding: 0.5em 1.3em;
	margin-bottom: 0.4em;
	border-radius: 0.5em;
	text-decoration: none;
	font-size: 1em;
	outline: none;
	border:none;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease;
}
.loginBtn:hover {
	background-color: rgb(5, 164, 5);
	transform: scale(1.03);
}

/* MEDIA QUERIES */

/* Mobile */
@media screen and (min-width:0px) and (max-width: 700px){ 
	.login-left-area {
		display: none;
	}
}

/* Tablets */
@media screen and (min-width: 699px) and (max-width: 1023px) {
	.login-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* 2 COLUMN LANDING ON DESKTOP VIEW */
@media (min-width: 50em) {
    .login-container {
        grid-template-columns: 1fr 1fr;
    }
}

